@if(errorMessage()) {
<div class="mb-2">
    <p-message severity="error">{{ errorMessage() }}</p-message>
</div>
}
<form [formGroup]="form" class="space-y-3" (ngSubmit)="onFormSubmit($event)">
    <div class="space-y-1">
        <label class="text-sm font-semibold" for="displayName">Member Names <span class="text-red-500">*</span></label>
        <input formControlName="displayName" class="block" pInputText id="displayName">
        @if(form.controls.displayName.dirty && form.controls.displayName.invalid) {
        <p-message variant="simple" severity="error" size="small">
            @if(form.controls.displayName.hasError('required')) {
            This field is required
            }
        </p-message>
        }
    </div>
    <div class="space-y-1">
        <label class="text-sm font-semibold" for="member_email">Email address <span
                class="text-red-500">*</span></label>
        <input formControlName="email" type="email" class="block" pInputText id="member_email">
        @if(form.controls.email.dirty && form.controls.email.invalid) {
        <p-message variant="simple" severity="error" size="small">
            @if(form.controls.email.hasError('required')) {
            This field is required
            }@else if (form.controls.email.hasError('email')) {
            Invalid email address
            }
        </p-message>
        }
    </div>
    <div>
        <p-fluid>
            <p-button (onClick)="onSubmitButtonClicked()" [disabled]="form.invalid" label="Finish" type="submit" />
        </p-fluid>
    </div>
</form>
