<sc-shell>
    <div class="container mx-auto mt-3">
        <p-data-view [paginator]="filteredTenants().length > 8" [rows]="8" [value]="filteredTenants()">
            <ng-template #header>
                <div class="flex justify-between items-center">
                    <h1 class="font-bold text-xl">Organizations</h1>
                    <div>
                        <p-iconfield>
                            <p-inputicon styleClass="pi pi-filter" />
                            <input type="search" size="small" [(ngModel)]="filterQuery" placeholder="Filter" pInputText>
                        </p-iconfield>
                    </div>
                </div>
            </ng-template>
            <ng-template #list let-items>
                <div class="w-full">
                    @for(item of items; track item) {
                    <div class="flex justify-between items-center pt-2 px-3">
                        <div class="space-y-2">
                            <a [routerLink]="[item.id]">
                                <h1 class="font-semibold text-lg">{{ item.name }}</h1>
                            </a>
                            <div class="flex items-center gap-2">
                                <span class="text-muted-color text-sm">
                                    <i class="pi pi-users"></i>
                                    {{ item.memberCount }}
                                </span>
                            </div>
                        </div>
                    </div>
                    @if(!$last) {
                    <p-divider />
                    }
                    }
                </div>
            </ng-template>
        </p-data-view>
    </div>
</sc-shell>
