<sc-shell>
    <sc-shell-top-nav>
        <ng-template #preBrand>
            <p-button [routerLink]="['..']" [relativeTo]="route" icon="pi pi-chevron-left" size="small" [text]="true" />
        </ng-template>
        <ng-template #postBrand>
            <p-select (onChange)="onFocusChanged($event)" [options]="tenants()" optionLabel="name" optionValue="id"
                [ngModel]="tenant()" size="small" />
        </ng-template>
    </sc-shell-top-nav>
    <p-tabs [value]="$any(route.firstChild?.routeConfig?.path)">
        <p-tablist>
            @defer(when !focusChanging()) {
                @for (route of tabbedRoutes(); track $index) {
                    <p-tab [value]="$any(route.path)" [routerLink]="route.path">
                        @if(route.data?.['icon']) {
                        <i [class]="route.data?.['icon']"></i>
                        }
                        <span>{{ route.title }}</span>
                    </p-tab>
                    }
            }@placeholder {
                @for(route of childRoutes; track $index){
                    <p-tab>
                        <p-progress-spinner strokeWidth="5" fill="transparent" animationDuration=".5s" styleClass="w-3 h-3" />
                    </p-tab>
                }
            }
        </p-tablist>
    </p-tabs>
    <router-outlet />
</sc-shell>
